<p>products works!</p>
<div class="p-5" style="background-color: yellowgreen;" >
  <div class=" d-flex flex-column align-items-center" style="background-color: violet;" >
    <div style="background-color: turquoise;" class=" pt-3 pb-3" >
      <h2>Productos</h2>
    </div>
    <div class="w-75" style="background-color: yellow;" >

        <table class="table table-dark table-striped">
          <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Productor</th>
          <th scope="col">Precio</th>
          <th scope="col">descripcion</th>
          <th scope="col">Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of productsList" >
          <th scope="row">{{producto.id}}</th>
          <td>{{producto.name}}</td>
          <td>{{producto.price | currency }}</td>
          <td>{{producto.description}}</td>

          <td><a href="productos/{{producto.id}}" ><button class="btn btn-outline-primary" type="button"   >Detalle</button></a></td>
        </tr>
        </tbody>

        </table>

    </div>
  </div>
</div>
